@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@200;400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=Tektur:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}



body{
    box-sizing: border-box;
    font-family: "Poppins";
}



.navbar{
    width: 90%;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo{
    font-size: 2.0rem;
    font-weight: 600;
    cursor: pointer;
}

.search{
    
    background-color: #000;
    display: flex;
    height: 100%;
    align-items: center;
}

.fa-magnifying-glass{
    font-size: 25px;
    color: #fff;
    height: 100%;
    padding: 0 .5em;
}

.fa-cart-shopping{
    font-size: 25px;
    cursor: pointer;
}
.search input{
    padding: 1.25em 15em 1.2em 1em;
    outline: none;
    
}
.search input::placeholder{
    font-weight: 700;
    color: black;
}

.container{
    margin: 2em auto;
    margin-top: 4em;
    width: 95%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    
}

.product-img{
    height: 250px;
    width: 200px;
    border-radius: 7px;
    object-fit: contain;
    padding: .2em;
}
.img-contain{
    width: 100%;
    position: relative;
}
.fa-square-check{
    position: absolute;
    top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        transform: scale(2.5);
        visibility: hidden;
        color: #1B7339;
        transition: visibility .2s ease-in-out;
}
.search-con{
    width: 90%;
    margin: 1em auto;
    display: flex;
    visibility: hidden;
    justify-content: center;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-bottom: 1em;
    background-color: #fff;
        /* border: 1px solid rgb(210, 210, 210); */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.product-container h2{
    
    font-size: 15px;
    word-break: break-all;
    width: 150px;
    
}
.price{
    font-weight: 800;
    font-size: 1rem;
    color: #1B7339;
    
}
.add{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
}

.to-cart{
    display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        background: #000000;
        color: #FFFFFF;
        border-radius: 8px;
        padding: .4em;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        transition: transform 201ms, background 201ms;

}

.to-cart:hover {
    transform: translateY(-2px);
}

.cart {
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    
    justify-content: center;
    position: relative;
}

.cartcount {
    position: absolute;
    top: -20px;
    left: 6px;
    font-size: 1.0rem;
    display: inline;
}

#results{
    
}
#results li{
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: black;
    font-weight: 500;

}

#results li:hover{
    color: gray;
}

@media screen and (max-width:760px) {
    
    .product-container{
        width: 48%;
        background-color: #fff;
        border: 1px solid rgb(210,210,210);
    }

        .img-contain {
            width: 100%;
            display: flex;
            justify-content: center;
        }

    .product-img{
        width: 90%;
        object-fit: contain;
    }

    .big{
        display: none;
    }
    .search-con{
        visibility: visible;
    }
    .small input{
        padding-right: 0;
    }
    .to-cart{
        font-size: 15px;
    }

    
    /* .cart{
        position: fixed;
        right: 20px;
        
    } */
}

/* .sticky {
    z-index: 100;
    
} */